# Node.js
node_modules/

# Build files
build/
dist/

# Environment variables
.env*

# Editor files
.vscode/
.idea/

# Dependency lock files
yarn.lock
package-lock.json

# Log files
*.log


# Test coverage
coverage/

# macOS
.DS_Store

# Windows
Thumbs.db
